#### Practica # 21 - Tuplas

#### 1.
Crea una tupla con números enteros con algunos de ellos repetidos, pide un número por teclado e indica cuántas veces se repite si estuviese en la tupla.

In [6]:
numeros_enteros = (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 7, 8, 2, 3, 4)

numero_usuario = int(input("Introduce un número para ver cuántas veces se repite en la tupla: "))

repeticiones = numeros_enteros.count(numero_usuario)

if repeticiones > 0:
    print(f"El número {numero_usuario} se repite {repeticiones} veces en la tupla.")
else:
    print(f"El número {numero_usuario} no está en la tupla.")

El número 4 se repite 3 veces en la tupla.

#### 2.
Crea una tupla con números e indica el número con mayor valor y el que menor tenga.

In [7]:
numeros = (41, 45, 15, 23, -51, -74, -89, 5, 6, 15, 13)
maximo = max(numeros)
minimo = min(numeros)

print(f"El número máximo en la tupla es {maximo}")
print(f"El número mínimo en la tupla es {minimo}")

El número máximo en la tupla es 45
El número mínimo en la tupla es -89

#### 3.
Crea una tupla con valores ya predefinidos del 1 al 10, pide un índice por teclado y muestra los valores de la tupla.

In [8]:
valores = tuple(range(1, 11))

indice = int(input("Introduce un índice entre 0 y 9: "))

if 0 <= indice < len(valores):
       print(f"El valor en el índice {indice} es {valores[indice]}")
else:
    print("Índice fuera de rango.")

El valor en el índice 8 es 9

#### 4.
Escribe un código donde se le pide al usuario almacenar en una tupla el día, mes y año (todos en formato entero) y luego que imprima dicha fecha en el formato: "03/07/2023".

In [12]:
dia = int(input("Ingresa el día: "))
mes = int(input("Ingresa el mes: "))
año = int(input("Ingresa el año: "))

fecha = (dia, mes, año)

print(f"{fecha[0]:02d}/{fecha[1]:02d}/{fecha[2]}")

31/05/2024

#### 5.
Definir una tupla con tres valores enteros. Convertir el contenido de la tupla a tipo lista. Modificar la lista y luego convertir la lista en tupla.

In [13]:
tupla_original = (10, 15, 20)

lista = list(tupla_original)

lista.append(40)

tupla_modificada = tuple(lista)

print(tupla_modificada)

(10, 15, 20, 40)

#### 6.
Crear una tupla y luego imprimirla en orden inverso en otra variable (otra tupla).

In [15]:
tupla = (14, 16, 18, 20)

tupla_inversa = tupla[::-1]

print("Tupla original:", tupla)

print("Tupla inversa:", tupla_inversa)

Tupla original: (14, 16, 18, 20)
Tupla inversa: (20, 18, 16, 14)

#### 7. Dada la tupla:

tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

Acceder al valor 20 e imprimir en una nueva variable

In [18]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

# Acceder al valor '20' que está en la lista, la cual es el segundo elemento de la tupla
nueva_var = tuple1[1][1]

print("El valor es:", nueva_var)

El valor es: 20

#### 8. 
Escriba un programa para descomprimir la siguiente tupla en cuatro variables e imprimir cada variable.

tuple1 = (10, 20, 30, 40)

In [19]:
tuple1 = (10, 20, 30, 40)

# Descomprimir la tupla en cuatro variables
a, b, c, d = tuple1

print("a:", a)  
print("b:", b) 
print("c:", c)  
print("d:", d)

a: 10
b: 20
c: 30
d: 40

#### 9.
 Intercambiar dos tuplas en Python dados:

tuple1 = (11, 22)
tuple2 = (99, 88)

In [20]:
tuple1 = (11, 22)
tuple2 = (99, 88)

# Intercambiar las tuplas
tuple1, tuple2 = tuple2, tuple1

print("tuple1:", tuple1)  
print("tuple2:", tuple2)

tuple1: (99, 88)
tuple2: (11, 22)

#### 10. 
¿Cuántas veces aparece 777 en la siguiente tupla? Escribir código

tt = (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

In [21]:
tt = (55, 6, 777, 54, 6, 76, 7777, 1, 777, 2, 6)

contador = tt.count(777)

print("El número 777 aparece", contador, "veces en la tupla.")

El número 777 aparece 2 veces en la tupla.

#### 11. 
¿Cuál es la suma de todos los números en la siguiente tupla?
Escribir código

tt = (42, 1092, 11, 88, 65, 2, 6)

In [28]:
tt = (42, 1092, 11, 88, 65, 2, 6)

suma = sum(tt)

print("La suma de todos los numeros es:  ", suma)

La suma de todos los numeros es:   1306

#### 12.
 ¿Cuáles son los valores mínimo y máximo de la siguiente tupla? Escribir código

tt = (42, 1092, 11, 88, 65, 2, 6)

In [29]:
valor_min = min(tt)

valor_max = max(tt)

print("Valor minimo es: ", valor_min)
print("Valor maximo es: ", valor_max)

Valor minimo es:  2
Valor maximo es:  1092


#### 13.
 Escriba un programa para aceptar el nombre de cinco frutas por parte del usuario, almacenarlo en una tupla y luego imprimir.

In [32]:
nombres_frutas = []

for i in range(5):
    fruta = input(f"Introduce el nombre de la fruta {i + 1}: ")
    nombres_frutas.append(fruta)

# Convertir la lista en una tupla
tupla_frutas = tuple(nombres_frutas)

print( tupla_frutas)

('fresa', 'mango', 'platano', 'ciruela', 'melocoton')


#### 14. 
Considere la siguiente tupla y escriba el código para las siguientes declaraciones:

T1 = (12, 3, 45, 'Hockey', 'Anil', ('a', 'b'))

a) Imprimir el primer elemento de T1 <br>
b) Imprimir el último elemento de T1<br>
c) Imprimir T1 en orden inverso<br>
d) Imprimir 'Anil' desde la tupla T1<br>
e) Imprimir 'b' de la tupla T1

In [36]:
t1 = (12, 3, 45, 'Hockey', 'Anil', ('a', 'b'))

print("a) Primer elemento de t1:", t1[0])

print("b) Último elemento de t1:", t1[-1])

print("c) t1 en orden inverso:", t1[::-1])

print("d) 'Anil' desde t1:", t1[4])

print("e) 'b' de t1:", t1[5][1])

a) Primer elemento de t1: 12
b) Último elemento de t1: ('a', 'b')
c) t1 en orden inverso: (('a', 'b'), 'Anil', 'Hockey', 45, 3, 12)
d) 'Anil' desde t1: Anil
e) 'b' de t1: b

#### 15.
 Escriba un programa que le pida a un usuario una cadena (string), luego convertirlo a una tupla e imprimir.

In [38]:
cadena_usuario = input("Introduce una cadena de texto: ")

tupla_caracteres = tuple(cadena_usuario)

print("La tupla de caracteres es:", tupla_caracteres)

La tupla de caracteres es: ('a', 'h', 'j', 'f', 'k', 'd', 'd', 'l', 'd', 'd')