In [1]:
def greeting(name):
    print("Welcome, " + name)

greeting("Kay")    
greeting("Cameron")

Welcome, Kay
Welcome, Cameron

In [2]:
def greeting(name, department):
    print("Welcome, " + name)
    print("You are part of " + department)

greeting("Blake", "Software engineering")
greeting("Ellis", "Software engeneering")

Welcome, Blake
You are part of Software engineering
Welcome, Ellis
You are part of Software engeneering

In [3]:
month = "September"
print("Investigate failed login attempts during", month, "If more than", 100)

Investigate failed login attempts during September If more than 100

In [4]:
print(type("This is a string"))

<class 'str'>

In [5]:
number = 12
string_representation = str(number)
print(string_representation)

12

In [6]:
# The sorted() function sorts the components of a list.
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))

[2, 12, 14, 19, 22, 32, 57]

In [7]:
# The sorted() function does not change the iterable that it sorts.
time_list = [12, 2, 32, 19, 57, 22, 14]
print(sorted(time_list))
print(time_list)

[2, 12, 14, 19, 22, 32, 57]
[12, 2, 32, 19, 57, 22, 14]

In [8]:
# The max() function returns the largest numeric inout passed into it.
# The min()......................smallest.............................
time_list = [12, 2, 32, 19, 57, 22, 14]
print(min(time_list))
print(max(time_list))

2
57

In [9]:
def area_triangle(base, height):
    return base*height/2

In [10]:
area_a = area_triangle(5,4)
area_b = area_triangle(7,3)

In [11]:
sum = area_a + area_b

In [12]:
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

In [15]:
def convert_seconds(seconds):
    hours = seconds // 3600
    minutes = (seconds - hours * 3600) // 60
    remaining_seconds = seconds - hours * 3600 - minutes * 60
    return hours, minutes, remaining_seconds

In [16]:
hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [19]:
def greeting(name):
    print("Welcome, " + name)
result = greeting("Christine")
print(result)

Welcome, Christine
None

In [20]:
name = "Kay" 
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Cameron"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [24]:
def lucky_number(name):
    number = len(name) * 9
    print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [26]:
def calculate(d):
    q = 3.14
    z = q * (d ** 2)
    print(z)

calculate(5)
# Output is 78.5

78.5

In [28]:
def circle_area(radius):
    pi = 3.14
    area = pi * (radius ** 2)
    print(area)
    
circle_area(5)
# Output is 78.5

78.5

In [29]:
# This function calculates the number of days in a variable number of
# years, months, and days. These variables are provided by the user and
# are passed to the function through the functionÂ´s parameters.
def find_total_days(years, months, days):
# Assign a variable to hold the calculations for the number of days in
# a year (years*365) plus the number of days in a month (months*30) plus
# the number of days provided trough the "days" parameter variable
    my_days = (years*365) + (months*30) + days
# Use the "return" keyword to send the result of the "my_days" calculation
# to the function call.
    return my_days

# Function call with user provided parameter values.
print(find_total_days(2,5,23))

903

In [30]:
# This function converts fluid onces to milliliters and returns the result
# of the conversion.
def convert_volume(fluid_once):
    ml = fluid_once * 29.5
    return ml

print("The volume in milliliters is " + str(convert_volume(2)))
print("The volume in milliliters is " + str(convert_volume(2)*2))

The volume in milliliters is 59.0
The volume in milliliters is 118.0